.container {
  overflow: hidden;
  box-shadow: 0 2px 20px #dddddd;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 200ms ease-in;
  background: #ffffff;
  width: 50%;
  margin: 40px auto;
}

.card img {
  max-width: 35%;
  margin-top: -15px;
  margin-bottom: 15px;
  backface-visibility: hidden;
  vertical-align: top;
  border-radius: 5px;
  float: right;
}

.content {
  position: relative;
  top: 0;
  right: 40%;
  left: 0;
  bottom: 0;
  padding: 15px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.card .content span {
  padding: 0 1rem;
  color: #6b7aa1;
  font-weight: 600;
}

.card h2 {
  padding: 10px 15px;
  font-size: 1.7em;
  font-weight: 600;
  color: #354259;
}

.card .typeTitle {
  padding: 10px 15px;
  font-size: 1.3rem;
}

.card .types {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 5px 5px;
  align-items: center;
}

.card .types > li {
  list-style: none;
  font-weight: 600;
  font-size: 1.2rem;
  color: #98a8f8;
}

.id {
  font-size: 1.7rem;
  color: #b980f0;
  font-weight: 600;
  padding: 0 17px;
}

@media (max-width: 700px) {
  .container {
    width: 80%;
    height: 80%;
    margin: 100px auto;
  }
  .card h2 {
    font-size: 1.4rem;
  }

  .card img {
    margin-top: 10px;
    padding: 0 10px;
  }

  .id {
    font-size: 1.2rem;
  }
}
