.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
  gap: 2rem;
  justify-content: center;
  margin: 25px 10px;
}

.filters {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px 10px;
}

.filter_alpha {
  background-color: transparent;
  border-radius: 20px;
  padding: 8px 20px;
  cursor: pointer;
  border: #354259 1px solid;
  box-shadow: 0 2px 10px #dddddd;
  color: #354259;
}

.filter_alpha i {
  font-size: 1.3rem;
}

.filter_order {
  background-color: transparent;
  border-radius: 20px;
  padding: 8px 20px;
  cursor: pointer;
  border: #354259 1px solid;
  box-shadow: 0 2px 10px #dddddd;
  color: #354259;
}

.select_types {
  background: transparent;
  border: #354259 1px solid;
  box-shadow: 0 2px 10px #dddddd;
  color: #354259;
  cursor: pointer;
  border-radius: 20px;
  font-family: "Poppins", sans-serif;
  padding: 8px 8px 8px;
}
