p {
  color: #aaaaaa;
}

.card {
  overflow: hidden;
  box-shadow: 0 2px 20px #dddddd;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 200ms ease-in;
  background: #ffffff;
}

.card:hover {
  transform: scale(1.02);
}

.card:hover .card_btn {
  background: #b980f0;
  color: #fff;
}

.card .card_image {
  height: 13rem;
  width: 100%;
  object-fit: scale-down;
  background: #f1f9f9;
}

.card .card_list {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 0 5px;
  align-items: center;
}

.card .card_list > li {
  list-style: none;
  font-weight: 600;
  color: #98a8f8;
}

.card .card_title {
  padding: 0.7rem;
  line-height: 1.5rem;
  color: #354259;
  font-size: 1.7rem;
}

.card .card_description > span {
  padding: 0 1rem;
  color: #6b7aa1;
  font-weight: 600;
}

.card .card_btn {
  padding: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  margin: 1rem;
  width: 87%;
  cursor: pointer;
  border: 2px solid #b980f0;
  background: transparent;
  color: #b980f0;
  border-radius: 0.5rem;
  transition: background 200ms ease-in, color 200ms ease-in;
}
