.formContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: 480px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px #cdd0cb;
  padding-top: 30px;
  margin-top: 40px;
  flex-direction: column;
}

.txtInput {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 10px;
}

.formContainer .form {
  padding: 20px 20px;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  flex-direction: column;
}

.formContainer .txtField {
  position: relative;
  border-bottom: 2px solid #b980f0;
  margin: 15px 0;
  width: 40%;
}

.txtField input {
  width: 100%;
  padding: 0 5px;
  height: 16px;
  font-size: 1rem;
  border: none;
  background: none;
  outline: none;
}

.txtField select {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 1rem;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

.formButton {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 0px;
  margin-top: 20px;
}

.createBtn {
  width: 100%;
  padding: 15px 0;
  cursor: pointer;
  border-radius: 10px;
  background: #b980f0;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 0.8px;
  border: none;
  box-shadow: 4px 10px 30px #aaa;
}

.createBtn:hover {
  border: 1px solid #b980f0;
  background: transparent;
  color: #b980f0;
}

.createBtn:disabled {
  background: #aaa;
  color: #b980f0;
}

.message {
  padding: 0 5px;
  margin-top: 2px;
  margin-bottom: 0;
  position: relative;
  display: flex;
}

.message p {
  color: #ff9494;
  font-size: 0.7rem;
  margin: 2px 0;
}

.selectedTypes {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  background: transparent;
  margin: 10px 0;
}
.selectedTypes .typeBtn {
  padding: 5px 10px;
  border-radius: 10px;
  border: 2px solid #354259;
  color: #354259;
  font-weight: 600;
  cursor: pointer;
  background: transparent;
}

.selectedTypes .typeBtn:hover {
  background: #354259;
  color: #fff;
}

@media (max-width: 700px) {
  .formContainer {
    width: 300px;
    height: 380px;
    margin: 30px auto;
  }
  .message {
    padding: 3px 5px;
  }
  .formContainer .txtField {
    margin: 0;
  }
}
